.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 5rem;
}

.heading {
  font-size: 10rem;
  width: 90%;
  /* font-family: var(--thunderSemiBold), monospace; */
}


.sub {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.16em;
}
